.header {
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    color: blueviolet;
    height: 100%;
}

.itens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(172, 172, 218);
    align-self: left;
    width: 70%;
    height: 100%;
    gap: 10px;
}

.product {
    background-color: rgb(157, 255, 0);
    border-radius: 10px;
    height: 250px;
    width: 400px;
    border-color: black;
}

.img-product {
    height: 50px;
    width: 50px;
}

.cart {
    background-color: green;
    flex-direction: column;
    width: 30%;
}